@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&display=swap");

:root {
    --slack-color: #3f0f40;
}

body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

.app__body {
    display: flex;
    height: 100vh;
}
